<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lto Company</title>
    <link rel="stylesheet" href="../css/tel_principal.css">
    <script src="../js/app.js" defer></script>
</head>
<body>
    <header class="cabeça">
        <div class="header-container">
            <img src="../img/LTO png.png" alt="logo" class="logo-image">
            <nav >
                <h1 class="navigation">
                <a class="nav-link" href="#Inicio">Início</a>
                <a class="nav-link" href="#Vagas">Vagas</a>
                <a class="nav-link" href="#Dicas">Dicas</a>
                </h1>
            </nav>
            <button class="button_cadastro">CADASTRAR-SE</button>
        </div>
    </header>
    <main>
        <div class="login">
            <div class="intro-section">
                <h1 class="texto_contrua">CONSTRUA UMA<br>RELAÇÃO DE<br> CONFIANÇA E<br>CONQUISTE SEUS <br>OBJETIVOS</h1>
            </div>
            <div class="login-section">
                <section>
                    <h4 class="email">E-MAIL</h4>
                    <input class="imp-1" type="email">
                    <h4 class="email">SENHA</h4>
                    <input class="imp-1" type="password">
                    <button>ENTRAR</button>
                </section>
            </div>
        </div>
        <section class="info-section">
            <div class="info-box">
                <h4>Profissional</h4>
                <p>Comece a trabalhar hoje mesmo! Cadastre-se e receba propostas exclusivas.</p>
                <button>Cadastrar Vaga</button>
            </div>
            <div class="info-box">
                <h4>Cliente</h4>
                <p>Soluções rápidas e eficientes para seus problemas. Acesse os melhores profissionais!</p>
                <button>Procurar Serviço</button>
            </div>
        </section>
        <div class="suggestion-section">
            <section class="suggestion-section">
                <h2>Encontre a vaga ideal para você.</h2>
                <div class="sugestao">
                    <h3>Sugestões de pesquisas</h3>
                    <div class="button-grid">
                        <button>Eletricista</button>
                        <button>Encanador</button>
                        <button>Pedreiro</button>
                        <button>Doméstica</button>
                        <button>Babá</button>
                        <button>Marceneiro</button>
                        <button>Jardineiro</button>
                        <button>Assistente Técnico</button>
                        <button>Refrigeração</button>
                        <button>Aula Particular</button>
                        <button>Estética e Beleza</button>
                        <button>Organização de Eventos</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 LTO Localizador de Trabalho Online. .</p>
            <ul class="footer-links">
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Privacidade</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
